  <div class="div-table-row child a-<%= a[0] %> <%= jsontitle %>-sub-<%= a[0] %> backgroundfirst" style="display:none;">
    <div class="div-table-col attribute backgroundfirst">
      <% if (b[1].is_a?(Hash)) %>
        <a class="showhideclick" href="#" onclick="showHide('.<%= jsontitle %>-sub-<%= a[0] %>-<%= b[0] %>', '.b-<%= b[0] %>' ); return false;">
          <%= b[0]%></a> 
      <% else %>
        <%= b[0] %>
      <% end %>

      <% if (b[1].is_a?(Hash)) && (b[1].key?("type")) %>
        <br> <a class="typegrey"><%= b[1]['type'] %></a>
      <% end %>
      
    </div>
    <div class="div-table-col description backgroundfirst">
      <% if (b[1].is_a?(Hash)) && (b[1].key?("documentation")) %>
        <%= b[1]['documentation']['description'] %> 
      <% end %>
      
    </div>
  </div>
  