  <div class="div-table-row child a-<%= a[0] %> b-<%= b[0] %> c-<%= c[0] %> d-<%= d[0] %> <%= jsontitle %>-sub-<%= a[0] %>-<%= b[0] %>-<%= c[0] %>-<%= d[0] %> backgroundfourth" style="display:none;">
    <div class="div-table-col attribute backgroundfourth">
      <%= e[0] %>
      <% if (e[1].is_a?(Hash)) && (e[1].key?("type")) %>
        <br> <a class="typegrey"><%= e[1]['type'] %></a>
      <% end %>
    </div>
    <div class="div-table-col description backgroundfourth">
      <% if (e[1].is_a?(Hash)) && (e[1].key?("documentation")) %>
        <%= e[1]['documentation']['description'] %> 
      <% end %>
      
    </div>
  </div>
