  <div class="div-table-row child a-<%= a[0] %> b-<%= b[0] %> c-<%= c[0] %> <%= jsontitle %>-sub-<%= a[0] %>-<%= b[0] %>-<%= c[0] %> backgroundthird" style="display:none;">
    <div class="div-table-col attribute backgroundthird">
      <% if (d[1].is_a?(Hash)) %>
        <a class="showhideclick" href="#" onclick="showHide('.<%= jsontitle %>-sub-<%= a[0] %>-<%= b[0] %>-<%= c[0] %>-<%= d[0] %>', '.d-<%= d[0] %>'); return false;">
          <%= d[0] %></a> 
      <% else %>
        <%= d[0] %>
      <% end %>
      <% if (d[1].is_a?(Hash)) && (d[1].key?("type")) %>
        <br> <a class="typegrey"><%= d[1]['type'] %></a>
      <% end %>
      
    </div>
    <div class="div-table-col description backgroundthird">
      <% if (d[1].is_a?(Hash)) && (d[1].key?("documentation")) %>
        <%= d[1]['documentation']['description'] %> 
      <% end %>
      
    </div>
  </div>
  