    <h2 id="<%= jsontitle + '_list' %>">List <%= jsontitle %></h2>     <!--  prints each subtitle on the html --> 

    <p>Returns a list of existing <%= jsontitle %> sent to third-party bank 
    accounts or that Alaunus has sent you. The <%= jsontitle %> are returned 
    in sorted order, with the most recently created <%= jsontitle %> appearing 
    first.</p>     <!-- display the description --> 

    <div class="div-table">
      <div class="div-table-row head-row">
          <div class="div-table-col attribute" style="color:black;"><b><u>Argument</u></b></div>
          <div class="div-table-col description" style="color:black;"><b><u>Description</u></b></div>
      </div>

      <div id="<%= jsontitle %>-table">
        <%# my_json_hash_sorted.each do |a| %>       <!-- loop through each section inside the attrs key on the json file -->
        <%# if (my_json_hash['attrs'][a[0]]['documentation'].key?("hide")) && (!my_json_hash['attrs'][a[0]]['documentation']['hide']) %>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>objects</b>
                <br>
                <a class="typegrey">true, false, "primary", "secondary"</a>
              </div>
              <div class="div-table-col description">
                returns documents and/or subdocuments as objects or arrays
                <br>
                <ul>
                  <li>true returns objects</li>
                  <li>false returns arrays</li>
                  <li>primary returns documents as objects and subdocuments as arrays</li>
                  <li>secondary returns documents in an array and subdocuments as objects</li>
                </ul>
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>archived</b>
                <br>
                <a class="typegrey">true, false, "primary", "secondary"</a>
              </div>
              <div class="div-table-col description">
                enables returning archived documents and subdocuments (i.e. the field _deleted is true)
                <br>
                <ul>
                  <li>true returns all archived and unarchived documents and subdocuments</li>
                  <li>false prevents all archived documents/subdocuments from being returned</li>
                  <li>primary returns all archived and unarchived documents and only unarchived subdocuments</li>
                  <li>secondary returns only unarchived documents and all archived and unarchived subdocuments for those documents</li>
                </ul>
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>primary</b>
                <br>
                <a class="typegrey">true, false</a>
              </div>
              <div class="div-table-col description">
                this function is currently broken
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>limit</b>
                <br>
                <a class="typegrey">non-negative integer</a>
              </div>
              <div class="div-table-col description">
                limits the total amount of documents that are returned to the number specified
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>offset</b>
                <br>
                <a class="typegrey">non-negative integer</a>
              </div>
              <div class="div-table-col description">
                skips the first specified number of result documents
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>fields</b>
                <br>
                <a class="typegrey">comma separated fields</a>
              </div>
              <div class="div-table-col description">
                the document returns with only the specified fields; if no fields are specified, then all fields are returned
                <br>
                <ul>
                  <li>note that fields within subdocument(s) can be specified using dot notation</li>
                  <li>example: locations.address.city</li>
                  <li>there are some fields that are always returned whether they're specified or not:
                    <ul>
                      <li>_id</li>
                      <li>subdocuments._id</li>
                      <li>subdocuments._key</li>
                    </ul>
                  </li>
                </ul>
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>files</b>
                <br>
                <a class="typegrey">comma separated fields</a>
              </div>
              <div class="div-table-col description">
                embeds a file subdocument in the specified file-type fields
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>sort</b>
                <br>
                <a class="typegrey">{comma separated fields in the form "field":[1, -1]}</a>
              </div>
              <div class="div-table-col description">
                sorts the results by the specified fields in the order that they appear
                <br>
                <ul>
                  <li>in the given example we first sort by name.first, then by name.last</li>
                  <li>1 means sort ascending (A -> Z); -1 means sort descending (Z -> A)</li>
                </ul>
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>msort</b>
                <br>
                <a class="typegrey">array({"fields": array(array(comma separated fields)), "sort":[1, -1]})</a>
              </div>
              <div class="div-table-col description">
                merges the innermost arrays in the order of the specified fields, then sorts and returns the results
                <br>
                <ul>
                  <li>in the given example we first merge to get a strings in the form "contact.name.first contact.name.last" or "company.name.title", like "Jane Doe" or "Intact Insurance Company"</li>
                  <li>then we sort the resulting strings either ascending or descending and return the result after sorting</li>
                </ul>
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>embeds</b>
                <br>
                <a class="typegrey">array({"collection":collection, "function":value})</a>
              </div>
              <div class="div-table-col description">
                embeds within the returned document content from a document of a different (or the same) collection
                <br>
                <ul>
                  <li>you can specify zero or more of the following functions to execute on the embedded document:
                  <ul>
                      <li>objects, archived, primary, fields, embeds</li>
                      <li>within an embed, the archived function defaults its value to true and its value primary is disabled</li>
                      <li>the primary function is currently broken</li>
                    </ul>
                  </li>
                </ul>
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>query</b>
                <br>
                <a class="typegrey">{comma separated queries}</a>
              </div>
              <div class="div-table-col description">
                Click <a href='http://localhost:4567/?shell#query'>here</a> to be redirected for the query information
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>skip</b>
                <br>
                <a class="typegrey">nada</a>
              </div>
              <div class="div-table-col description">
                nada
              </div>
          </div>

          <div class="div-table-row">
              <div class="div-table-col attribute">
                <b>past</b>
                <br>
                <a class="typegrey">nada</a>
              </div>
              <div class="div-table-col description">
                nada
              </div>
          </div>


        <%# end %>
        <%# end %>
      </div>
    </div>